<!DOCTYPE html>
<html>
    <head>
        <title>Услуги. Интернет-магазин &quot;Шутки пьяного Мишутки&quot;</title>
        <meta charset="utf-8">
        <meta name="description" content="Здесь вы можете найти подарки для своих недалеких, а, значит, близких друзей и недругов">
        <meta name="keywords" content="услуги, подарки, магазн подарков, день рождения, посмеяться над собой">
        <meta name="robots" content="noindex,follow">
        <style>
            @import url('static/css/style.css');
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="header_title">
                    <a href="index.html">Интернет-магазин &quot;Шутки пьяного Мишутки&quot;!</a>
                </div>
            </header>
            <nav>
                 <ul class="main_menu">
                     <li><a href="index.html">Главная</a></li>
                     <li><a href="uslugi.html">Каталог услуг</a></li>
                     <li><a href="portfolio.html">Портфолио</a></li>
                     <li><a href="contacts.html">Контакты</a></li>
                 </ul>
                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,twitter,lj" data-size="s"></div>
            </nav>
            <hr>
            <section class="section_content">
                <article>
                    <h1>
                        В этом разделе Вы можете выбрать Заказать услугу &quot;Герой СМИ&quot; нашего Интернет-магазина &quot;Шутки пьяного Мишутки&quot;!
                    </h1>
                     <ul class="breadcrumbs">
                        <li>
                            <a href="index.html" title="Главная">Главная</a>
                        </li>
                         <li>
                            <a href="uslugi.html" title="Услуги">Услуги</a>
                        </li>
                        <li>
                            <a href="usluga_geroi_smi.html" class="current" title="Герой СМИ">Услуга - Герой СМИ</a>
                        </li>
                    </ul>
                     <div class="uslugi_img">
                        <a href="static/img/uslugi/geroi_smi/geroi.jpg" target="_blank">
                            <img src="static/img/uslugi/geroi_smi/geroi.jpg" title="герой сми" alt="супермен">
                        </a>
                    </div>
                    <div class="uslugi_desc_deployed">
                        <h2>Описание товара</h2>
                        <p>
                            Ну вот хотите Вы стать героем новостей. Мы готовы помочь Вам в этом нелегком деле! Например, подставим ситуацию, где вы спасаете ребенка или избиваете чиновника - разумеется, по договоренности со всеми участниками процедуры! Все довольны, всем оплачено, а Вы - народный любимец!
                        </p>
                    </div>
                    <div class="uslugi_char_deployed">
                        <h2>Характеристики товара</h2>
                        <ul>
                            <li>Цена&#58; аще дорого</li>
                            <li>Договариваемся с участниками</li>
                            <li>Пишем сценарий</li>
                            <li>Приглашаем СМИ на &quot;жареное&quot;</li>
                        </ul>
                    </div>
                </article>
                <hr>
                <form action="" method="post">
                    <fieldset>
                        <legend>Бланк Заказа</legend>
                        <table>
                            <tr>
                                <label>
                                <td>Введите имя&#58;</td>
                                <td><input type="text" name="client_name" placeholder="Ваше имя" required></td>
                                </label>
                            </tr>
                            <tr>
                                <label>
                                <td>Введите e-mail&#58;</td>
                                <td><input type="email" name="client_email" placeholder="Ваш e-mail" required></td>
                                </label>
                            </tr>
                            <tr>
                                <label>
                                <td>Пожелания к услуге&#58;</td>
                                <td>
                                    <select name="client_message_theme" required>
                                    <option>Быстро, Качественно</option>
                                    <option>Быстро, Недорого</option>
                                    <option>Качественно, Недорого</option>
                                </select>
                                </td>
                                </label>
                            </tr>
                        </table>
                        <p>
                            <label>
                            Дополнительные пожелания&#58;
                            </label>
                        </p>
                        <label>
                        <textarea name="client_message" cols="50" rows="10" maxlength="500" placeholder="Не более 500 символов" required>
                        </textarea>
                        </label> 
                    </fieldset>
                    <p>
                        <label>
                            <input type="submit" value="Отправить заказ">
                        </label>
                        <label>
                            <input type="reset" value="Сбросить данные">
                        </label>
                    </p>
                </form> 
            </section>
            <hr>
            <footer>
                <p>
                    &copy;<small>, 2018 г., Все права защищены. Использование материалов сайта допускается только с указанием кого-то другого, кроме правообладателя. Если что - ВЫ сами во всем виноваты</small>
                </p>
            </footer>
        </div>
    </body>
</html>