<!DOCTYPE html>
<html>
    <head>
        <title>Услуги. Интернет-магазин &quot;Шутки пьяного Мишутки&quot;</title>
        <meta charset="utf-8">
        <meta name="description" content="Здесь вы можете найти подарки для своих недалеких, а, значит, близких друзей и недругов">
        <meta name="keywords" content="услуги, подарки, магазн подарков, день рождения, посмеяться над собой">
        <meta name="robots" content="noindex,follow">
        <style>
            @import url('static/css/style.css');
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="header_title">
                    <a href="index.html">Интернет-магазин &quot;Шутки пьяного Мишутки&quot;!</a>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="uslugi.html">Каталог услуг</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,twitter,lj" data-size="s"></div>
            </nav>
            <hr>
            <section class="section_content">
                <article>
                    <h1>
                        В этом разделе Вы можете выбрать интересующие Вас услуги нашего Интернет-магазина &quot;Шутки пьяного Мишутки&quot;!
                    </h1>
                    <ul class="breadcrumbs">
                        <li>
                            <a href="index.html" title="Главная">Главная</a>
                        </li>
                        <li>
                            <a href="uslugi.html" class="current" title="Услуги">Услуги</a>
                        </li>
                    </ul>
                    <div class="uslugi">    
                        <div class="static/uslugi_img">
                            <a href="static/img/uslugi/klyauza/klyauznik.jpg" target="_blank">
                                <img src="static/img/uslugi/klyauza/klyauznik.jpg" title="кляузник" alt="кляузник">
                            </a>
                        </div>
                        <div class="uslugi_desc_briefly">
                            <h2>Описание товара</h2>
                            <p>
                                мы готовы составить для Вас кляузу в любом размере и количестве
                            </p>
                        </div>
                        <div class="uslugi_char_briefly">
                            <h2>Характеристики товара</h2>
                            <ul>
                                <li>Цена&#58; недорого</li>
                                <li>Оплата за килограмм</li>
                                <li>Можно медленно, но неумолимо доканывать оппонента</li>
                                <li>Лучшие кляузники Москвы к вашим услугам</li>
                            </ul>
                            <p>
                                <a href="usluga_klyauza.html">Купить</a>
                            </p>
                        </div>
                    </div>
                    <div class="uslugi">
                        <div class="static/uslugi_img">
                            <a href="static/img/uslugi/predstavlenie_v_sude/pravosudie.jpg" target="_blank">
                                <img src="static/img/uslugi/predstavlenie_v_sude/pravosudie.jpg" title="смешное правосудие" alt="смешное правосудие">
                            </a>
                        </div>
                        <div class="uslugi_desc_briefly">
                            <h2>Описание товара</h2>
                            <p>
                                за сравнительно небольшую плату мы готовы организовать для Вас судебный процесс с ничем не подозревающим судьей. Наверное, Вы не знали, но закон не устанавливает требования к тому, как должны выглядеть участники процесса &#40;кроме судей, котрые в мантии, да и то не всегда&#41;. А это значит, что процесс в костюмах Бэтмена или Имперских штурмовиков будет вполне себе законным. Так что дерзайте!
                            </p>
                        </div>
                        <div class="uslugi_char_briefly">
                            <h2>Характеристики товара</h2>
                            <ul>
                                <li>Цена&#58; несколько дороже</li>
                                <li>Готовим для Вас сценарий</li>
                                <li>Подбираем для Вас костюм</li>
                                <li>В стоимость не входят штрафы и проч. за оскорбление суда</li>
                            </ul>
                            <p>
                                <a href="usluga_predstavlenie.html">Купить</a>
                            </p>
                        </div>
                    </div>
                    <div class="uslugi">
                        <div class="static/uslugi_img">
                            <a href="static/img/uslugi/vzyat_izmorom/dengi_za_miting.jpg" target="_blank">
                                <img src="static/img/uslugi/vzyat_izmorom/dengi_za_miting.jpg" title="деньги за митинг" alt="толпа народу">
                            </a>
                        </div>
                        <div class="uslugi_desc_briefly">
                            <h2>Описание товара</h2>
                            <p>
                                специально для Вас мы натренировали толпы мам с плачущими детьми, больных, калечных и убогих, которые готовы обивать пороги и доканывать Вашего нерпиятеля!
                            </p>
                        </div>
                        <div class="uslugi_char_briefly">
                            <h2>Характеристики товара</h2>
                                <ul>
                                    <li>Цена&#58; еще дороже</li>
                                    <li>Лучшие кадры</li>
                                    <li>Вы сами принимаете участие в подборе толпы и лозунгов</li>
                                    <li>Съемка процесса</li>
                                </ul>
                            <p>
                                    <a href="usluga_vzyat_izmorom.html">Купить</a>
                            </p>
                        </div>
                    </div>
                    <div class="uslugi">
                        <div class="static/uslugi_img">
                            <a href="static/img/uslugi/geroi_smi/geroi.jpg" target="_blank">
                                <img src="static/img/uslugi/geroi_smi/geroi.jpg" title="герой сми" alt="супермен">
                            </a>
                        </div>
                        <div class="uslugi_desc_briefly">
                            <h2>Описание товара</h2>
                            <p>
                                ну вот хотите Вы стать героем новостей. Мы готовы помочь Вам в этом нелегком деле! Например, подставим ситуацию, где вы спасаете ребенка или избиваете чиновника - разумеется, по договоренности со всеми участниками процедуры! Все довольны, всем оплачено, а Вы - народный любимец!
                            </p>
                        </div>
                        <div class="uslugi_char_briefly">
                            <h2>Характеристики товара</h2>
                                <ul>
                                    <li>Цена&#58; аще дорого</li>
                                    <li>Договариваемся с участниками</li>
                                    <li>Пишем сценарий</li>
                                    <li>Приглашаем СМИ на &quot;жареное&quot;</li>
                                </ul>
                            <p><a href="usluga_geroi_smi.html">Купить</a></p>
                        </div>
                    </div>
                </article>
                <div class="uslugi_hymn">
                    <p>
                        <img src="static/img/judge1.jpg">
                        <br><strong>Правосудие должно быть смешным!</strong>
                    </p>
                </div>
            </section>
            <hr>
            <footer>
                <p>
                    &copy;<small>, 2018 г., Все права защищены. Использование материалов сайта допускается только с указанием кого-то другого, кроме правообладателя. Если что - ВЫ сами во всем виноваты</small>
                </p>
            </footer>
        </div>
    </body>
</html>