<!DOCTYPE html>
<html>
    <head>
        <title>Интернет-магазин &quot;Шутки пьяного Мишутки&quot;</title>
        <meta charset="utf-8">
        <meta name="description" content="Здесь вы можете найти подарки для своих недалеких, а, значит, близких друзей и недругов">
        <meta name="robots" content="noindex,follow">
        <style>
            @import url('static/css/style.css');
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="header_title">
                    <a href="index.html">Интернет-магазин &quot;Шутки пьяного Мишутки&quot;!</a>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="uslugi.html">Каталог услуг</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,twitter,lj" data-size="s"></div>
            </nav>
            <hr>
            <section class="section_content">
                <article>
                    <h1>Представляем Вам примеры работ интернет-магазина &quot;Шутки пьяного Мишутки&quot;!</h1>
                    <ul class="breadcrumbs">
                        <li>
                            <a href="index.html" title="Главная">Главная</a>
                        </li>
                        <li>
                            <a href="portfolio.html" class="current" title="Портфолио">Портфолио</a>
                        </li>
                    </ul>
                    <div class="portfolio_example">
                        <div class="static/portfolio_img">
                            <a href="static/img/portfolio/jirinovski.jpg" target="_blank">
                                <img src="static/img/portfolio/jirinovski.jpg"  width="100%" height="100%" title="Жириновский и Немцов" alt="В.В.Жириновский">
                            </a>
                        </div>
                        <div class="portfolio_desc">
                            <p>
                                Владимир Вольфович Жириновский! Помните вот ту передачу, когда он плеснул водой из стакана! Наша работа! Бесподобное сочетание ярости тигра и стремительности пике орла сошлись в этом фатастическом жесте, который в итоге был растирожирован многими нашими политиками, да и прочими сочувствующими. В итоге огромное количество упоминаний, gif&#39;ки и прочие радости. Самой передачи уже даже нет, а жест достиг большей популярности, чем призыв Геббельса к тотальной войне &#40;если кто-нибудь, кроме Роскомнадзора и ФСБ понимает, о чем я&#41;
                            </p>
                        </div>
                    </div>
                    <div class="portfolio_example">    
                        <div class="static/portfolio_img">
                            <a href="static/img/portfolio/puknem.jpg" target="_blank">
                                <img src="static/img/portfolio/puknem.jpg" width="100%" height="50%" title="Митинг о чем-то" alt="Митинг о чем-то">
                            </a>
                        </div>
                        <div class="portfolio_desc">
                            <p>
                                О! А вот это просто прекрасно: плакаты, призывы, толпы скандирующего народа. Да, услуга не из дешевых, но Вы посмотрите какой эффект! Вряд ли представители &quot;русского рока&quot; собирали на свои концерты столько сплоченных материально простимулированных патриотов! Но для нашего Интернет-магазина &quot;Шутки пьяного Мишутки&quot; это раз плюнуть - мы подобрали самые колоритные лица, проработали с ними самые выразительные позы. И получилось, согласитесь, отлично!
                            </p>
                        </div>
                    </div>
                    <div class="portfolio_example">
                        <div class="static/portfolio_img">
                            <a href="static/img/portfolio/trump.jpg" target="_blank">
                                <img src="static/img/portfolio/trump.jpg" width="100%" height="50%" title="Избрание Трампа" alt="Избрание Трампа">
                            </a>
                        </div>
                        <div class="portfolio_desc">
                            <p>
                                Трамп... Ну мы немного переборщили, конечно.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio_example">
                        <div class="static/portfolio_img">
                            <a href="static/img/portfolio/sword.jpg" target="_blank">
                                <img src="static/img/portfolio/sword.jpg" width="100%" height="50%" title="Нашли меч" alt="Нашли меч">
                            </a>
                        </div>
                        <div class="portfolio_desc">
                            <p>
                                О! А вот это Вы могли видеть: под Пасху рядом со славным городом Ярославлем была найдена реликвия, цльный старинный русский меч. Ну, для искушенного PR-менеджера очевидно, что &quot;древнему мечу&quot; и года нет, а быстро собравшиеся попы как будто знали, что тут будет найдено. А то! Мы две недели согласовывали с ними вариант внезапной находки! Но все-таки все произошло замечательно - во многом сыграло роль то, что у нас есть многолетний контракт с их коллегами: там, правда всего делов - раз в год огонь зажечь...
                            </p>
                        </div>
                    </div>
                    <div class="portfolio_example">
                        <div class="static/portfolio_img">
                            <a href="static/img/portfolio/sword.jpg" target="_blank">
                                <img src="static/img/portfolio/ogon.jpg" width="100%" height="50%" title="Благодатный огонь" alt="Благодатный огонь">
                            </a>
                        </div>
                        <div class="portfolio_desc">
                            <p>
                                Ну вот, как мы и говорили - наша гордость снисходит. В такие моменты понимаешь, насколько важны долгосрочные контракты: ведь если часто повторять ложь, через некоторое время она вернется к вам в виде истины.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
            <hr>
            <footer>
                <p>
                    &copy;<small>, 2018 г., Все права защищены. Использование материалов сайта допускается только с указанием кого-то другого, кроме правообладателя. Если что - ВЫ сами во всем виноваты</small>
                </p>
            </footer> 
        </div>
    </body>
</html>