<!DOCTYPE html>
<html>
    <head>
        <title>Контакты. Интернет-магазин &quot;Шутки пьяного Мишутки&quot;</title>
        <meta charset="utf-8">
        <meta name="description" content="Здесь вы можете найти подарки для своих недалеких, а, значит, близких друзей и недругов">
        <meta name="keywords" content="услуги, подарки, магазн подарков, день рождения, посмеяться над собой">
        <style>
            @import url('static/css/style.css');
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="header_title">
                    <a href="index.html">Интернет-магазин &quot;Шутки пьяного Мишутки&quot;!</a>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="uslugi.html">Каталог услуг</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,twitter,lj" data-size="s"></div>
            </nav>
            <hr>
            <section class="section_content">
                <article>
                    <h1>В этом разделе указаны контакты нашего Интернет-магазина &quot;Шутки пьяного Мишутки&quot;!</h1>
                    <ul class="breadcrumbs">
                        <li>
                            <a href="index.html" title="Главная">Главная</a>
                        </li>
                        <li>
                            <a href="contacts.html" class="current" title="Контакты">Контакты</a>
                        </li>
                    </ul>
                    <p>
                        Наименование компании&#58; ООО &quot;Кавдорский ГОГ&quot;
                        <br>ИНН/КПП&#58; 678908973 / 77489220
                    </p>
                    <p>
                        г. Москва, ул. Московская, д. 5, оф. 1
                    </p>
                    <br>Телефон&#58; <tel>+7-322-33-22</tel>
                    <br>e-mail&#58; ghjk&#64;ghj.com
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,twitter,lj" data-size="s"></div>
                    <p>
                        Карта как добраться&#58;
                    </p>
                        <div id="contact_map">
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A23a0b1d936819c17d9dca47a509d2c074e49e601e6687c7ebe002289fd3643e9&amp;width=100%&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
                </article>
                <form action="" method="post">
                    <fieldset>
                        <legend>Напишите нам</legend>
                        <ul>
                            <li><label>Введите имя&#58;<input class="contact_input_area" type="text" name="client_name" placeholder="Ваше имя" required></label></li>
                            <li><label>Введите e-mail&#58;<input class="contact_input_area" type="email" name="client_email" placeholder="Ваш e-mail" required></label></li>
                            <li>
                                <label>
                                Тема сообщения&#58;
                                    <select class="contact_input_select" name="client_message_theme" required>
                                        <option>Как вам все понравилось</option>
                                        <option>Как вам все не понравилось</option>
                                        <option>Хотите дать нам денег, но не знаете как</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <label>
                                    Пол
                                    <input type="radio" name="sex" checked required>Мужской
                                    <input type="radio" name="sex" required>Женский
                                </label>
                            </li>
                        </ul>
                        <p>
                        <label>
                        Сообщение&#58;
                        </label>
                        </p>
                        <label>
                            <textarea class="contact_textarea" name="client_message" cols="50" rows="10" maxlength="500" placeholder="Не более 500 символов" required>
                            </textarea>
                        </label> 
                    </fieldset>
                    <div class="contact_buttons">
                        <label>
                            <input type="submit" value="Отправить сообщение">
                        </label>
                        <label>
                            <input type="reset" value="Сбросить данные">
                        </label>
                    </div>
                </form>
            </section>
            <hr>
            <footer>
                <p>
                    &copy;<small>, 2018 г., Все права защищены. Использование материалов сайта допускается только с указанием кого-то другого, кроме правообладателя. Если что - ВЫ сами во всем виноваты</small>
                </p>
            </footer>
        </div>
    </body>

</html>