<!DOCTYPE html>
<html>
    <head>
        <title>Интернет-магазин &quot;Шутки пьяного Мишутки&quot;</title>
        <meta charset="utf-8" lang="ru">
        <meta name="description" content="Здесь вы можете найти подарки для своих недалеких, а, значит, близких друзей и недругов">
        <meta name="keywords" content="подарки, магазн подарков, день рождения, посмеяться над собой">
        <meta name="robots" content="noindex,follow">
        <style>
            @import url('static/css/style.css');
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="header_title">
                    <a href="index.html">Интернет-магазин &quot;Шутки пьяного Мишутки&quot;!</a>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="uslugi.html">Каталог услуг</a></li>
                    <li><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,twitter,lj" data-size="s"></div>
            </nav>
            <hr>
            <section class="section_content">
                <h1>Добро пожаловать в интернет-магазин &quot;Шутки пьяного Мишутки&quot;!</h1>
                <ul class="breadcrumbs">
                    <li>
                        <a href="index.html" title="Главная" class="current">Главная</a>
                    </li>
                </ul>
                <p>
                    Вы думали, что правосудие - это стук молотка по наковальне, а юристы - худощавые &quot;костюмы&quot; с одинаковыми чемоданчиками и фамилиями как у профессоров Московской консерватории? Но вообще-то Вы правы, в большинстве христоматийных случаев это действительно так.<br>
                    Однако почему бы не разбавить весь этот правосудный балаган легкой толикой безумия, добавив радость и веселье в столь заунывный гражданско-уголовно-административный процесс?<br>
                    Именно это мы и предлагаем Вам:<br>
                    Для начинающих мелких пакостников мы готовы предложить услуги по составлению <a href="usluga_klyauza.html">кляузы</a> на кого-нибудь. Стучи и прислушивайся к стуку - вот девиз начинающих сутяжников!<br>
                    Или Вы хотите на своей белоснежной шкурке прочувствовать как &quot;тяжела и неказиста жизнь российского юриста&quot; и выиграть &#40;или проиграть&#41; дело в суде? А пожалуйста, услуга <a href="usluga_predstavlenie.html">&quot;Представление в суде&quot;</a> для Вас!<br>
                    А если Вы желаете довести до белого коления какого-нибудь чиновника или даже соседа, мы готовы предоставить Вам сплоченный коллектив профессиональных доставал, которые во имя Вас &#40;и от Вашего имени, разумеется&#41; готовы денно и нощно писать запросы и кляузы, а может быть даже <a href="usluga_vzyat_izmorom.html">выйти на улицу с плакатами</a><br>
                    И на сладкое: наша команда юристов-экстремалов и PR-гуру готовы сделать из Вас <a href="usluga_geroi_smi.html"><span>СУПЕР-ЗВЕЗДУ</span></a> как в мире юриспруденции, так и вообще - самым популярным на вашей улице (ну, в крайнем случае - в Вашем подъезде).<br>
                </p>
                <h2>И помните: ПРАВОСУДИЕ должно быть веселым!</h2>
<!--                <div class="slider_box">
                    <div class="foto1"><img src="static/img/portfolio/jirinovski.jpg" alt="Жириновский"></div>
                    <div class="foto2"><img src="static/img/portfolio/ogon.jpg" alt="Огонь"></div>
                    <div class="foto3"><img src="static/img/portfolio/puknem.jpg" alt="Толпа"></div>
-->
                </div>
            </section>
            <footer>
                <p>
                    &copy;<small>, 2018 г., Все права защищены. Использование материалов сайта допускается только с указанием кого-то другого, кроме правообладателя. Если что - ВЫ сами во всем виноваты</small>
                </p>
            </footer>
        </div>
    </body>
</html>